<mat-spinner *ngIf="loading; else formList"></mat-spinner>
<ng-template #formList>
   <mat-accordion multi="true" *ngIf="posts.length > 0; else noPost">
      <mat-expansion-panel *ngFor="let post of posts">
         <mat-expansion-panel-header>
            {{ post.title }}
         </mat-expansion-panel-header>
         <div class="picture-container">
            <img [src]="post.imagePath" [alt]="post.title">
         </div>
         <p>{{ post.content }}</p>
         <mat-action-row *ngIf="authState && (userId === post.author)">
            <a mat-button color="primary" [routerLink]="['edit', post.id]">EDIT</a>
            <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
         </mat-action-row>
      </mat-expansion-panel>
   </mat-accordion>
   <ng-template #noPost>
      <p style="text-align: center;" class="mat-body-1">No post created</p>
   </ng-template>
</ng-template>
<!-- paginator have to be on it's own -->
<mat-paginator *ngIf="totolPosts > 0"
   [length]="totolPosts" 
   [pageSize]="postsPerPage" 
   [pageSizeOptions]="pageSizeOptions" 
   (page)="onChangePage($event)"
></mat-paginator>
